.App {
  text-align: center;
}

.Modal {
  border: 3px solid #000;
  background: var(--main-bg-color);
  border-radius: 4px;
  padding: 20px;
  overflow: auto;
  outline: none;
  margin: auto;
  margin-top: 2%;
}

@media only screen and (min-width: 768px) {
  .Modal {
    width: 35%;
  }
}

@media only screen and (max-width: 768px) {
  .Modal {
    width: 80%;
  }
}